<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <section class="p-5">
        <div class="container py5">
            <div class="row text-center g-4">
                <div class="col-md mb-3">
                    <div class="card  text-light p-5">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-laptop text-dark"></i>
                            </div>
                            <h3 class="card-title mb-3 text-dark fw-bold">¿Quienes somos?</h3> 
                            <p class="card-text text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum hic officiis accusantium quam fugit recusandae quos laborum commodi placeat nemo eius, necessitatibus praesentium. Explicabo quia quod, exercitationem sequi saepe repudiandae!.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py5">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card text-light p-5">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-code text-dark"></i>
                            </div>
                            <h3 class="card-title mb-3 text-dark fw-bold">Mision</h3> 
                            <p class="card-text text-dark">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et dolorum earum nostrum assumenda obcaecati quidem quae, inventore id quos at illum iusto neque perspiciatis a odit ea adipisci ab quaerat! </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card  text-light p-5">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-code-slash text-dark"></i>
                            </div>
                            <h3 class="card-title mb-3 text-dark fw-bold">Vision</h3> 
                            <p class="card-text text-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum modi maxime enim iure ratione repellat, nisi quis accusantium quaerat, nobis cum quidem sit, dolore esse neque unde non! Molestias, nobis!.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</body>
</html>