<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body class="hola">
    <%- include ('partials/navigation') %>

    <section class="p-5 text-center text-sm-start">
      <div class="container">
          <div class="row d-sm-flex  justify-content-between py-4 py-sm-8 align-items-center">
              <div class="col-sm-6">
                  <h1 class="text-center text-sm-start fw-bold">¿Existe el One Piece?</h1>
                  <p class="lead my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quam neque nostrum maiores libero eos</p>
                  <button class="btn btn-warning">¿Quiénes somos?  <i class="bi bi-hand-index "></i></button>
              </div>
              <div class="col-sm-6 banner d-flex justify-content-center align-items-center">
                  <a href="/">
                      <img src="/img/cloud.png" class="img-fluid" width="500" height="1000">
                  </a>
              </div>
          </div>
      </div>
   </section>
</body>
</html>